@model responseXYRange
@{
    ViewData["Title"] = "Home Page";    
    
}
@section Scripts
{
    <script src="@Url.Content("~/js/index-chart.js")"></script>
}
<div class="text-center">
    <div>
        @* @foreach(var item in Model.result){
            @Html.Raw("<h1>");
            @Html.DisplayFor(modelItem => item)
            
            @Html.Raw("</h1>");
        } *@
        <form id='form'>
            <input name='formula' type="text" placeholder="@Html.Raw(@ViewBag.arr[0])"/>
            <input name='from' type="text" placeholder="@Html.Raw(@ViewBag.arr[1])"/>
            <input name='to' type="text" placeholder="@Html.Raw(@ViewBag.arr[2])"/>
            <input name='n' type="text" placeholder="@Html.Raw(@ViewBag.arr[3])"/>
            <input type="button" onclick='getNewChart()'/>
        </form>
        <canvas id="canvasso" height="800" width="800" style="background-color: #fff09f"></canvas>


    </div>

    
        <script>
        //let myTab = @Model;
            
            
            



                initCanvas();
                firstChart();
            function firstChart(){
                let model2 = [];
                model2 = @Html.Raw(Json.Serialize(Model.result));
                let scale = 10;

                for(let i = 0;i < model2.length; i++){
                    console.log(model2[i].x + "" + model2[i].y);
                    if(i==0)
                    {
                        ctx.moveTo(maxX/2 + model2[i].x*scale, maxY/2 - model2[i].y*scale);
                        continue;
                    }
                    ctx.lineTo(maxX/2 + model2[i].x*scale, maxY/2 - model2[i].y * scale);
                    ctx.stroke();

                }
            }    
            
            


            function getNewChart(){
            let myData = $('#form').serialize();
            
             $.ajax({
                url: 'http://localhost:5420/api/calculate/xy?'+myData,
                type: 'GET',
                headers: {  'Access-Control-Allow-Origin': '*',
                            'Allow-Control-Allow-Headers': '*' },
                crossDomain: true,
                jsonpCallback: 'callback',
                data: "json",
                success: function(data) { 
                    redrawCanvas();
                    console.log(data.result[0].x);
                    ctx.beginPath();
                    for(let i = 0; i < data.result.length; i++){
                        let scale = 10;
                        if(i==0)
                        {
                            ctx.moveTo(maxX/2 + data.result[i].x*scale, maxY/2 - data.result[i].y*scale);
                            continue;
                        }
                        ctx.lineTo(maxX/2 + data.result[i].x*scale, maxY/2 - data.result[i].y * scale);
                    }
                    ctx.stroke();
                 },
                error: function() { alert('Failed!'); }
            });

            }
        




    </script>
   

    
</div>
